<h1>Add and Image</h1>

<%= form_for @image, :url => user_images_path(current_user), :html => { :multipart => true } do |form| %>
  <%= form.file_field :file %>

  <%= form.submit "Submit" %>

<% end %>
